Package: com.opa334.notrecording
Name: NotRecording
Version: 1.1.1
Architecture: iphoneos-arm
Description: Screen Recording Detection Bypass (TrollStore Version)
Maintainer: opa334
Author: opa334
Section: Applications
